<div class="jumbotron text-center"><h3>iRacing database</h3></div>
<div class="col-md-12">
    <div class="col-md-4 panel panel-default">
        <div class="panel-body" style="height:300px;overflow:auto;">
        <table class="table table-striped">
            <thead>
            <th>Cars
                <select data-ng-model="formData.car" data-ng-change="addCar(formData.car)">
                    <option data-ng-repeat="item in cars  | orderBy: 'name'" value="{{item.id}}"> {{item.name}}</option>
                </select>
            </th>
            </thead>
            <tbody >
            <tr data-ng-repeat="item in carListNames">
                <td>{{item.name}}</td>
                <td><button data-ng-click="removeItem(item, 'cars')">X</button></td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>

    <div class="col-md-4 panel panel-default">
        <div class="panel-body" style="height:300px;overflow:auto;">
                <table class="table table-striped">
            <thead>
            <th>
                Tracks
                <select data-ng-model="formData.track" data-ng-change="addTrack(formData.track)">
                    <option data-ng-repeat="item in tracks | orderBy: 'name'" value="{{item.id}}"> {{item.name}}</option>
                </select>
            </th>
            </thead>
            <tbody>
            <tr data-ng-repeat="item in trackListNames">
                <td>{{item.name}}</td>
                <td><button data-ng-click="removeItem(item , 'tracks')">X</button></td>
            </tr>
            </tbody>
        </table>
            </div>
    </div>

    <div class="col-md-4 panel panel-default">
        <div class="panel-body" style="height:300px;overflow:auto;">
        <table class="table table-striped">
            <thead>
            <th>
                Series
                <select data-ng-model="formData.series" data-ng-change="addSeries(formData.series)">
                    <option data-ng-repeat="item in series  | orderBy: 'name'" value="{{item.id}}"> {{item.name}}</option>
                </select>
            </th>
            </thead>
            <tbody>
            <tr data-ng-repeat="item in seriesListNames">
                <td>{{item.name}}</td>
                <td><button data-ng-click="removeItem(item, 'series')">X</button></td>
            </tr>
            </tbody>
        </table>
            </div>
    </div>
</div>

<div class="col-md-12 ">
    <div class="col-md-4 panel panel-default">
    <div class="panel-body" style="height:300px;overflow:auto;">
        <table class="table table-striped">
            <thead>
            <th>
                License
                <select data-ng-model="formData.class" data-ng-change="addClass(formData.class)">
                    <option  value="Rookie"> Rookie</option>
                    <option  value="D"> D</option>
                    <option  value="C"> C</option>
                    <option  value="B"> B</option>
                    <option  value="A"> A</option>
                </select>
            </th>
            </thead>
            <tbody>
            <tr data-ng-repeat="item in classList">
                <td>{{item}}</td>
                <td><button data-ng-click="removeItem(item, 'class')">X</button></td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>

    <div class="col-md-4 panel panel-default">
        <div class="form-group panel-body">
            <label class="control-label"><i class="fa fa-calendar"></i> <i class="fa fa-arrows-h"></i> <i class="fa fa-calendar"></i> Date range</label><br>
            <div class="form-group col-xs-6">
                <input type="text" class="form-control" ng-model="fromDate" data-min-date="09/13/16" data-max-date="12/06/2016" placeholder="From" bs-datepicker>
            </div>
            <div class="form-group col-xs-6">
                <input type="text" class="form-control" ng-model="untilDate" data-min-date="09/19/2016" data-max-date="12/12/2016" placeholder="Until" bs-datepicker>
            </div>
        </div>
        </div>

    <div class="col-md-4">
        <button data-ng-click="getSeries()">Click</button>
        <button data-ng-click="clearAll()">Clear all</button>
    </div>
</div>


<div class="col-md-12">
    <table class="table table-striped">
        <thead>
            <th>Type</th>
            <th>Class</th>
            <th>Car</th>
            <th>Series</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Track</th>
            <th>Type</th>
        </thead>
        <tbody>
            <tr data-ng-repeat="item in result track by $index">
                <td>{{item.type}}</td>
                <td>{{item.class}}</td>
                <td>{{item.car}}</td>
                <td>{{item.series}}</td>
                <td>{{item.start_date}}</td>
                <td>{{item.end_date}}</td>
                <td>{{item.track}}</td>
                <td>{{item.official_type}}</td>
            </tr>
        </tbody>
    </table>
</div>